.box{
    width: 200px;
    height: 100px;
}
.container{
    display: inline-flex;
    /* flex-wrap: wrap; */
    /* margin-bottom: 8px; */
    background-color: lightblue;
    flex-direction: column;
    gap: 8px;
}

.box:nth-child(odd){
    background-color: salmon;
}

.box:nth-child(even){
    background-color: lime;
}