* {
  box-sizing: border-box;
  margin: 0;
}

.product-list .product-item {
  float: left;
  width: 50%;

  /* Nyalakan kode berikut agar mencapai kesamaan tinggi */
  /* height: 400px; */
}

.product-item {
  border: 6px solid black;

  transition: all 150ms ease-in;
}

.product-item main {
  padding: 16px;
}

.product-item .product__title {
  font-size: 2rem;
  margin: 0;
}

.product-item .char__description {
  margin-block: 0.5rem;
}

.clear{
    clear: both;
}

footer {
  padding: 18px 8px;
}
