.box:nth-child(odd) {
    background-color: red;
}

.box:nth-child(even) {
    background-color: blue;
}

.flex {
    padding: 8px;
    background-color: chartreuse;

    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;

    gap: 8px;
}

[class^=box]{
    flex-basis: 100px;
}

.box1{
    align-self: flex-end;
}

.box3{
    align-self: flex-start;
}