span {
    color: red;
    font-size: 24px;
}

.red {
    color: red;
}
.blue{
    background-color: skyblue;
}

.fancy{
    font-weight: bold;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
}
.deskripsi {
    font-size: 18px; /* ukuran sedang */
    font-family: Arial, Helvetica, sans-serif; /* ganti sesuai kebutuhan */
}
.deskripsi.fancy{
    font-size: 60px;
    font-weight: bold;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
}

#teote{
    color: blue;
    font-style: italic;
    background-color: lightgreen;
    width: 300px;
}

ul {
  font-size: 18px;
}

/* <a> element yang menerapkan href attribute */
a[href] {
  color: blue;
}


/* 
    pada css Kalau ^= itu dipakai untu awalan
    pada css kalu *= untuk kontennya
    pada css kalau $= untuk yang akhiran
       
*/

/* <a> element yang menerapkan nilai pada href dengan awalan "#" */
a[href^='#'] {
  background-color: gold;
}

/* <a> element yang menerapkan nilai pada href yang mengandung teks "example" */
a[href*='example'] {
  background-color: silver;
}

/* <a> element yang menerapkan nilai pada href yang mengandung teks "insensitive" tidak mementingkan huruf kapital*/
a[href*='insensitive' i] {
  color: cyan;
}

/* <a> element yang menerapkan nilai pada href dengan akhiran ".org" */
a[href$='.org'] {
  color: red;
}


/* Menargetkan seluruh tipe elemen */
* {
  color: green;
}

/* Menargetkan seluruh tipe elemen yang mengandung nilai "en" pada atribut lang */
*[lang^='en'] {
  font-style: italic;
}

/* Menargetkan seluruh tipe elemen yang memiliki nilai "warning" pada atribut class */
*.warning {
  color: red;
}

/* Menargetkan seluruh tipe elemen yang memiliki nilai "content" pada atribut id */
*#content {
  border: 5px solid blue;
  padding: 10px;
}
